@layout MainLayout
@page "/specialties"
@using System.Net.Http
@inject HttpClient Http
@using Clockwork.Models
@using BlazorPagination

@if (_data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="display:flex;flex-wrap:wrap;">
        <FilterTest @bind-Filter='filter'/>
    </div>
    <div class="d-flex justify-content-between">
    <button class="btn btn-primary m-1" @onclick="FilterPage">Filter</button>
    <BlazorPager CurrentPage="@_data.CurrentPage"
            PageCount="@_data.PageCount"
            OnPageChanged="(async e => { _page = e; await GetData();})"

            ShowFirstLast="false"
            ShowPageNumbers="true"
            VisiblePages="@visPages"
            NextText=">"
            PreviousText="<"/>
    </div>
            <Virtualize Items=_data.Results Context=item>
            <SpecialtyDetail specialty=@item/>
        </Virtualize>
    <div class="d-flex justify-content-between">
    <BlazorPager CurrentPage="@_data.CurrentPage"
            PageCount="@_data.PageCount"
            OnPageChanged="(async e => { _page = e; await GetData();})"

            ShowFirstLast="false"
            ShowPageNumbers="true"
            VisiblePages="@visPages"
            NextText=">"
            PreviousText="<"/>
    </div>
}

@code {

    public int visPages = 10;
    public SpecialtyFilter filter = new SpecialtyFilter();

    private PagedResult<Specialty> _data;
    protected override async Task OnInitializedAsync(){

        await GetData();
    }
    protected async Task FilterPage()
    {
        _page = 1;
        await GetData();
    } 

    private string slug = "api/Specialty";
    private int _page = 1;
    private int _page_size = 30;
    private int _page_count = 0;
    private int _records = 0;
    private async Task GetData()
    {
        HttpResponseMessage response = await Http.PostAsJsonAsync<SpecialtyFilter>($"{slug}/count", filter);
        _records = await response.Content.ReadFromJsonAsync<int>();
        _page_count = (_records + _page_size -1)/_page_size;

        _data = new PagedResult<Specialty>() { 
            CurrentPage = _page,
            PageSize = _page_size,
            PageCount = _page_count
            };
        response = await Http.PostAsJsonAsync<SpecialtyFilter>($"{slug}/{_page}/{_page_size}", filter);
        _data.Results = await response.Content.ReadFromJsonAsync<Specialty[]>();
        _data.RowCount = _data.Results.Count();

        StateHasChanged();
    }

}